@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  font-family: "Outfit", sans-serif; 
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
@font-face {
  font-family: Aspect;
  src: url(../public/ASPECT-RANGE-DEMO.ttf);
}
.Aspect{
  font-family: Aspect;
}
@theme {
  --color-primary: #202020;
  --color-primary-dull: #404040;
  --color-light: #F1F5F9;
  --color-borderColor: #c4c7d2;
}